---
layout: base.njk
title: The Conservative Caucus – {{ stateName }} Survey
stateName: {{ stateName }}
stateAbbr: {{ stateAbbr }}
---
<header>
  <h1>The Conservative Caucus – {{ stateName }}</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/{{ stateAbbr | lower }}/map/">Map</a> |
    <a href="/{{ stateAbbr | lower }}/survey/">Survey</a>
  </nav>
  <hr>
</header>
<main>
  <h2>{{ stateName }} Congressional District Survey</h2>
  <iframe src="https://survey.zohopublic.com/zs/FdD9PM" frameborder="0" style="height:700px;width:100%;" marginwidth="0" marginheight="0" scrolling="auto" allow="geolocation"></iframe>
  <p>If you have trouble viewing the survey, <a href="https://survey.zohopublic.com/zs/FdD9PM" target="_blank">click here to take the survey</a>.</p>
</main>
